head
  meta(charset='utf-8')
  meta(content="IE=edge", http-equiv="X-UA-Compatible")
  meta(content="width=device-width, initial-scale=1.0", name="viewport")
  meta(content="JAMstack Hackathon 2018 | freeCodeCamp.org", name="keywords")
  meta(content="JAMstack Hackathon 2018 | freeCodeCamp.org", property="og:title")
  meta(content="freeCodeCamp JAMstack Hackathon 2018", property="og:site_name")
  meta(content="on", name="twitter:widgets:csp")
  meta(content="https://hackathon.freecodecamp.org", property="og:url")
  meta(name='description', content='2018 freeCodeCamp JAMstack Hackathon')
  meta(content="2018 freeCodeCamp JAMstack Hackathon", property="og:description")
  meta(content="https://s3.amazonaws.com/freecodecamp/freecodecamp-square-logo-large.jpg", property="og:image")
  meta(content="website", property="og:type")
  meta(content="@freecodecamp", name="twitter:creator")
  meta(content="http://www.freecodecamp.com", name="twitter:url")
  meta(content="@freecodecamp", name="twitter:site")
  meta(content="summary_large_image", name="twitter:card")
  meta(content="Learn to code for free" name="twitter:title")
  meta(content="Join a community of millions of people learning to code together.", name="twitter:description")
  meta(content="https://s3.amazonaws.com/freecodecamp/freecodecamp-square-logo-large.jpg", name="twitter:image:src")
  meta(content="https://www.facebook.com/freecodecamp", property="article:publisher")
  meta(content="Responsive", property="article:section")
  meta(content="#FFFFFF", name="msapplication-TileColor")
  meta(content="/", name="msapplication-TileImage")
  meta(name='author', content='freeCodeCamp')
  title=title || 'JAMstack Hackathon 2018 | freeCodeCamp.org'
  // Bootstrap core CSS
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
  // JavaScript for Bootstrap
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
  link(href="https://s3.amazonaws.com/freecodecamp/favicons/android-chrome-144x144.png", rel="android-chrome" sizes="144x144")
  link(href="https://s3.amazonaws.com/freecodecamp/favicons/android-chrome-192x192.png", rel="android-chrome" sizes="192x192")
  link(href="https://s3.amazonaws.com/freecodecamp/favicons/android-chrome-36x36.png", rel="android-chrome" sizes="36x36")
  link(href="https://s3.amazonaws.com/freecodecamp/favicons/android-chrome-48x48.png", rel="android-chrome" sizes="48x48")
  link(href="https://s3.amazonaws.com/freecodecamp/favicons/android-chrome-72x72.png", rel="android-chrome" sizes="72x72")
  link(href="https://s3.amazonaws.com/freecodecamp/favicons/android-chrome-96x96.png", rel="android-chrome" sizes="96x96")
  link(href="https://s3.amazonaws.com/freecodecamp/favicons/android-chrome-manifest.json", rel="android-chrome-manifest")
  link(href="https://s3.amazonaws.com/freecodecamp/favicons/apple-touch-icon-114x114.png", rel="apple-touch-icon" sizes="114x114")
  link(href="https://s3.amazonaws.com/freecodecamp/favicons/apple-touch-icon-120x120.png", rel="apple-touch-icon" sizes="120x120")
  link(href="https://s3.amazonaws.com/freecodecamp/favicons/apple-touch-icon-144x144.png", rel="apple-touch-icon" sizes="144x144")
  link(href="https://s3.amazonaws.com/freecodecamp/favicons/apple-touch-icon-152x152.png", rel="apple-touch-icon" sizes="152x152")
  link(href="https://s3.amazonaws.com/freecodecamp/favicons/apple-touch-icon-180x180.png", rel="apple-touch-icon" sizes="180x180")
  link(href="https://s3.amazonaws.com/freecodecamp/favicons/apple-touch-icon-57x57.png", rel="apple-touch-icon" sizes="57x57")
  link(href="https://s3.amazonaws.com/freecodecamp/favicons/apple-touch-icon-60x60.png", rel="apple-touch-icon" sizes="60x60")
  link(href="https://s3.amazonaws.com/freecodecamp/favicons/apple-touch-icon-72x72.png", rel="apple-touch-icon" sizes="72x72")
  link(href="https://s3.amazonaws.com/freecodecamp/favicons/apple-touch-icon-76x76.png", rel="apple-touch-icon" sizes="76x76")
  link(href="https://s3.amazonaws.com/freecodecamp/favicons/apple-touch-icon-precomposed.png", rel="apple-touch-icon-precomposed")
  link(href="https://s3.amazonaws.com/freecodecamp/favicons/apple-touch-icon.png", rel="apple-touch-icon")
  link(href="https://s3.amazonaws.com/freecodecamp/favicons/favicon-16x16.png", rel="favicon" sizes="16x16")
  link(href="https://s3.amazonaws.com/freecodecamp/favicons/favicon-32x32.png", rel="favicon" sizes="32x32")
  link(href="https://s3.amazonaws.com/freecodecamp/favicons/favicon-96x96.png", rel="favicon" sizes="96x96")
  link(href="https://s3.amazonaws.com/freecodecamp/favicons/mstile-144x144.png", rel="mstile" sizes="144x144")
  link(href="https://s3.amazonaws.com/freecodecamp/favicons/mstile-150x150.png", rel="mstile" sizes="150x150")
  link(href="https://s3.amazonaws.com/freecodecamp/favicons/mstile-310x310.png", rel="mstile" sizes="310x310")
  link(href="https://s3.amazonaws.com/freecodecamp/favicons/mstile-310x150.png", rel="mstile" sizes="310x150")
  link(href="https://s3.amazonaws.com/freecodecamp/favicons/mstile-70x70.png", rel="mstile" sizes="70x70")
  link(href="https://s3.amazonaws.com/freecodecamp/favicons/favicon.ico", rel="favicon")
  link(href="//s3.amazonaws.com/freecodecamp/favicons/favicon.ico", rel="shortcut icon")
  // Custom fonts
  link(href='https://fonts.googleapis.com/css?family=Lato:400,700', rel='stylesheet', type='text/css')
  // Custom CSS
  link(rel='stylesheet', href='/css/bootstrap-overrides.css')
  link(rel='stylesheet', href='css/main.css')

