.leaderboard-toggle.form-check.btn-group.btn-group-toggle
  label.btn.btn-primary.active(for="all") All
    input(type="radio", id="all", value="All", v-model="picked")
  label.btn.btn-primary(for="online") Online
    input(type="radio", id="online", value="Online Only", v-model="picked")
  label.btn.btn-primary(for="inPerson") In-Person
    input(type="radio", id="inPerson", value="In-person", v-model="picked")
    

table.table(cellspacing="0px", width="100%", style="width: 100%;overflow:hidden;")
  thead
    
    tr
      
      th(v-on:click="sortBy('buildStatus', ascending)", width="120", style="cursor:pointer;") Build Status
        
      th(v-on:click="sortBy('name', ascending)", style="cursor: pointer;") Team Name
      th Repo
      th Site
      th(width="200") Hackathon

      th(v-on:click="sortBy('lighthouse', ascending)", style="cursor: pointer;") Lighthouse
      th Collaborators
      th(width="120") Screenshot

  tbody(v-if="picked === 'Online Only'")
    
    tr(v-for='(team, i) in teams', v-if="team.isOnlineHackathon")
      include team.pug

  tbody(v-if="picked === 'In-person'")
    
    tr(v-for='(team, i) in teams', v-if="!team.isOnlineHackathon")
      include team.pug

  tbody(v-if="picked === 'All'")
    tr(v-for='(team, i) in teams')
      include team.pug
