table.table(cellspacing="0px", width="100%", style="width: 100%;overflow:hidden;")
  thead
    
    tr
      th(scope="row", v-text="'rank'")
      th Team Name
      th Repo
      th Site
      th Online-only
      th Lighthouse
      th Collaborators
      // th(v-for='(key, j) in Object.keys(teams[0])', v-if="['_id', '__v'].indexOf(key) === -1" v-text='key', scope="col")
  tbody
    
    tr(v-for='(team, i) in teams')
      th(scope="row", v-text="i + 1")
      td(v-for='(key, j) in Object.keys(team)', v-if="['_id', '__v'].indexOf(key) === -1")
        span(v-if="!Array.isArray(team[key])")
          a(v-if="key === 'githubRepository'", v-bind:href="team[key]", v-text="team[key].split('https://github.com/')[1]")
          a(v-else-if="key === 'siteUrl'", v-bind:href="team[key]", v-text="team[key]")
          span(v-else-if="key === 'isOnlineHackathon'", v-text="!team[key] ? 'no' : 'yes'")
        ul(v-else-if="key === 'collaborators'")
          li.avatar(v-for="(member, k) in team[key]")
            img(:src="`https://github.com/${member}.png`", :title="member")
        span(v-else-if="key === 'lighthouse'")
          ul(v-if="team[key].length", v-for="(result, l) in team[key]")
            li(v-for="(metric, m) in Object.keys(result)", v-text="metric+':'+result[metric]")
        
        