th(scope="row", v-text="i + 1")
td(v-for='(key, j) in Object.keys(team)', v-if="['_id', '__v'].indexOf(key) === -1")
  
  span(v-if="key === 'name'", v-text="team[key]")
  a(v-if="key === 'githubRepository'", v-bind:href="team[key]", v-text="team[key].split('https://github.com/')[1]")
  a(v-else-if="key === 'siteUrl'", v-bind:href="team[key]", v-text="team[key]")
  span(v-else-if="key === 'isOnlineHackathon'", v-text="!team[key] ? 'no' : 'yes'")
  ul(v-else-if="key === 'collaborators'")
    li.avatar(v-for="(member, k) in team[key]")
      img(:src="`https://github.com/${member}.png`", :title="member")
  span(v-else-if="key === 'lighthouse'")
    ul(v-if="team[key].length", v-for="(result, l) in team[key]")
      li(v-for="(metric, m) in Object.keys(result)", v-if="metric !== '_id'")
        strong(v-text="metric+': '")
        span(v-if="metric === 'date'", v-text="new Date(result[metric]).getFullYear() + '/'+ new Date(result[metric]).getMonth()+'/'+ new Date(result[metric]).getDate()+' '+ new Date(result[metric]).getHours()+':'+ new Date(result[metric]).getMinutes()")
        span(v-else-if="metric !== 'date'", v-text="result[metric]")
td(v-if="team && !team.screenshot")
  span.screenshot
    img(v-bind:src="'/images/fcc_mock_screenshot.png'", v-bind:title="'screenshot'", v-bind:alt="'screenshot'")
