div(v-if="webhooks && webhooks !== ''")
  div.webhook-display
    h5.webhook-title(v-text="webhooks.name + ' Webhook'")
    pre
      div.webhook-container
        label(v-bind:for="webhooks.name+'--url'") URL
        input(v-bind:id="webhooks.name+'--url'", type="url", readonly="", v-bind:value="webhooks.webhook")
      div.webhook-container
        label(v-bind:for="webhooks.name+'--secret'") Secret
        input(v-bind:id="webhooks.name+'--secret'", type="url", readonly="", v-bind:value="webhooks.secret")
