pre(v-if="webhooks && webhooks !== ''") #{JSON.stringify(webhooks, null, 2)}
  div.row
    div.col
      h5.card-title(v-text="webhooks.name")
    div.row
      div.col.webhook-container
        label(v-bind:for="webhooks.name+'--url'") URL
        input(v-bind:id="webhooks.name+'--url'", type="url", readonly="", v-bind:value="webhooks.webhook")
    
    div.row
      div.col.webhook-container
      label(v-bind:for="webhooks.name+'--secret'") Secret
      input(v-bind:id="webhooks.name+'--secret'", type="url", readonly="", v-bind:value="webhooks.secret")
