extends layout
block header
block content
  div
    include partials/nav.pug
    main
      .container#flash-container

      .container
        h1 Go Team!
        #team-form-or-webhook
          form#create-team-form
            .form-group
              label(for='team-name') Team Name
              input#team-name.form-control(type='text', aria-describedby='team-name-help', placeholder='' required=true)
              small#team-name-help.form-text.text-muted Your team name.
            .form-group
              label(for='team-repo') GitHub Repository
              input#team-repo.form-control(type='url', placeholder='', required=true)
            .form-group
              label(for='team-site') Site URL
              input#team-site.form-control(type='url', aria-describedby='team-site-help', placeholder='', required=true)
              small#team-name-help.form-text.text-muted The URL of your site, usually provided by Netlify.
            .form-group
              label(for='team-collab') Team Collaborators
              input#team-collab.form-control(type='text', aria-describedby='team-collab-help', placeholder='')
              small#team-collab-help.form-text.text-muted A comma separated list of Github usernames.
            .form-check
              input#isOnLine.form-check-input(type='checkbox', value='')
              label.form-check-label(for='isOnLine')
                | Online only team

            button.btn.btn-primary(v-on:click="handleFormSubmit", type='submit') Submit
