extends layout
block header
block content
  div
    include partials/navigation.pug
        button.navbar-toggler.navbar-toggler-right.text-uppercase.rounded(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
    main
      .container
        h1 Hello!
      .container#leaderboard
        if (user && user.admin)
          button.btn.btn-primary(v-on:click="getTeams", v-text="(teams[0] !== '' ? 'Last refresh '+ new Date(teams[0].lighthouse[teams[0].lighthouse.length - 1].date) : 'refresh')")
        include partials/leaderboard.pug