extends layout
block header
block content
  div
    include partials/nav.pug
    main
      .container#flash-container

      .container
        h1 Want to create a new team?
          a.btn.btn-primary(href=`/team`) Click here
        h1 Go Team!

        form#join-team-form(method="POST", action=`/api/teams/join`)
          .form-group
            label(for="selectGroup") Select a team

            select.form-control#selectGroup(name="team", required)
              option(disabled, value= "") Groups
              option(v-for="(team, i) in teams", :value="team._id", v-text="team.name")
            button.btn.btn-primary(type='submit') Submit
