doctype html
html(lang='en')
  include partials/head.pug
  body#page-top
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.bg-secondary.fixed-top.text-uppercase
      .container
        a.navbar-brand.js-scroll-trigger(href='#page-top') Start Bootstrap
        button.navbar-toggler.navbar-toggler-right.text-uppercase.bg-primary.text-white.rounded(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          | Menu
          i.fas.fa-bars
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item.mx-0.mx-lg-1
              a.nav-link.py-3.px-0.px-lg-3.rounded(href=`/team`) Team
            li.nav-item.mx-0.mx-lg-1
              a.nav-link.py-3.px-0.px-lg-3.rounded(href=`/signout`) Signout
    // Header
    header.jumbotron.bg-primary.text-white.text-center
      .container
        h2.font-weight-light.mb-0 Create a team for the JAMstack Hackathon 2018
    main
      .container
        h1 Manage #{team.name}!
      .container
