extends layout
block header
block content
  div
    include partials/navigation.pug
        button.navbar-toggler.navbar-toggler-right.text-uppercase.rounded(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
    main
      .container
        h1 Hello #{username}!