.webhook-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.avatar {
  display: inline-block;
  position: relative;
  margin: 0 3px;
}
.avatar img {
  position: relative;
  width: 40px;
  height: auto;
}