body {
  font-family: 'Open Sans', sans-serif;
}
.navbar-brand.img-responsive {
  max-width: 70%;
  max-height: 70%;
}
.webhook-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.avatar {
  display: inline-block;
  position: relative;
  margin: 0 3px;
}
.avatar img {
  position: relative;
  width: 33px;
  height: auto;
}
.screenshot {
  position: relative;
  width: 100%;
}
.screenshot img {
  width: 100%;
  height: auto;
}
thead {
  position: sticky;
  top: 72px;
  background-color: #fff;
  z-index: 9;
}
td ul, th ul {
  padding-left: 0;
}
ul > li {
  list-style-type: none;
}

.webhook-display {
  margin-top: .75rem;
}
/* Capitalizes webhooks.name */
.webhook-title {
  text-transform: capitalize;
}
.webhook-container:nth-of-type(2) {
  margin-top: .75rem;
}
.form-check {
  padding: 0;
}
.form-check legend {
  margin-bottom: .5rem;
  font-size: 1rem;
}
.form-check input {
  margin-right: 5px;
}
.leaderboard-toggle {
  margin: .75rem 0;
}
/* Centers all text and radio buttons on leaderboard */
#leaderboard {
  text-align: center;
}
/* Styling leaderboard table */
.table {
  margin: auto;
  margin-top: .75rem;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 20px;
}
th > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.hackathon-status-header {
  display: flex;
  flex-direction: column;
}
.hackathon-status-header-options {
  display: flex;
  justify-content: space-evenly;
}
.check-container {
  display: flex;
  justify-content: space-around;
}

.lg-text {
  font-size: 1.3rem;
}

.webhook-what-next-toc > li {
  list-style-type: disclosure-closed;
}
.webhook-what-next-toc ul > li {
  list-style-type: disc;
}